/* Cores:

marrom - cabeçalho e rodapé: rgb(27, 15, 0)
laranja - corpo rgb(209, 65, 36)
rosa - rgb(175, 20, 59)
marrom ícones - rgb(79, 34, 1)

fontes escuras - rgb(28, 15, 0)
fontes cinzas  - rgb(83, 83, 83)
*/
header{
     background-color: rgb(27, 15, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 145px 0;   
    text-align: center;
    color:white ;
    padding: 0 0 30px 30px;

}
aside{
    padding: 0 0 30% 0;
}

header h1{
    padding: 96px 0 0 0 ;
    font-size: 32px;
}

header h2{
    padding: 0 0 48px 0;
    font-size: 12px;
    color:  rgb(110, 109, 109);
}
.seção-cabeçalho{
    background-color: rgb(219, 71, 42);
    padding: 100px 60px 0 0 ;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

em{
    background-color: rgb(175, 20, 59);
    padding: 21px;
    margin: 0;
    list-style: none;
}

main{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: rgb(27, 15, 0);
    font-family: Arial, Helvetica, sans-serif;
}

/* TEXTO */

.navegador-cabecalho{
    text-decoration: none ;
    list-style: none;
}

.titulo{
    font-size: 48px;
    margin: 0 0 0 0;
}

a{
    text-decoration: none;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 18px;
}

main div a{
    text-decoration: underline;
    color: #783c00;
}

.caixa{
    width: 300px;
    margin:0 0 32px 0px;
    border: none;
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 3% 0 48px 0;
}

h4{
    color: #783c00;
    font-size: 30px;
    padding: 0 0 0 24px ;
}
.botao-caixa,.botao-caixa2{
    background-color: rgb(175, 20, 59);
    width: 180px;
    height: 60px;
    margin: 0 0 0 23% ;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0,0, 0.25);
  
    
    font-weight: 400;
    font-size: 18px;
    
}



.caixa p{
  
     font-weight: normal;
    display: flex;
    text-align:center;
    font-weight: 400;
    font-size: 24px;
}
.conteiners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    
   
}
#titulo-3{
    font-size: 48px;
    padding: 0 0 0 27%;
    color: rgb(48, 48, 48) ;

}
div strong{
    font-size: 58px;
    text-decoration-style: solid;
    color:rgb(27, 15, 0) ;
    padding: 0 0 0 0 ;
}
main div aside{
    padding: 70px  300px 40px 300px;
    text-align: center;
    color: rgb(28, 15, 0);
    font-size: 18px;
    
}



section h2{
    font-size: 30px;
    padding: 0 0 0 32% ;
    display: flex;
    flex-direction: row;
    font-weight: 200;
    font-family: 'sarala';
    color: rgb(83, 83, 83) ;

}
.conteiners-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

#conteiners-3{
    flex-direction: row;
    display:flex;
    
}


.caixa-2{
    background-color: white;
    color:fff;
    width: 260px;
    height: 100%;
    align-content: space-around;
   
    padding: 60px 0 0 46px;
}

section div p{
      padding: 0 0 0 28px;   
      

}

section h3{
    padding: 0 0 30px 55px;
    text-align: none;
    color: rgb(83, 83, 83);
}

nav{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
}



figure img{
    width: 64px;
    padding: 0 0 0 10% ;
}

 p{
    justify-content: center;
     padding: 0 0 0 24px ;
}

div h1{
    padding:  0 0 0 68px;
}

button{
    border:none ;
    background-color:rgb(175, 20, 59);
    color:aliceblue;
    
    font-weight: bold;
    border: none;
    width: 40%;
    padding: 5px;
    margin:  0 0 17px 17px;
   transition: 2s;
    
}

/* FOOTER */

footer{
 padding: 0 0  196px 0;
 
}

footer p{
   padding: 48px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.copy p{
    border-top: 0.9px solid white;
    
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
   
}

figcaption{
    padding: 48px 48px 124px  70px;
    color: rgb(83, 83, 83);
    font-size: 24px;

}

    
