/****** SELETORES *****/
body{
    background-color :  rgb(2, 27, 38);
    font-family: Arial, Helvetica, sans-serif;
}
/****** CONTEUDO ******/
header, 
main, 
footer {
        width: 860px;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
}

footer{
    padding: 0 0 0 0;
    color: #fff;
}
.copy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Tahoma, sans-serif;
    font-style: italic;
}

main footer{
    background-color: rgb(195, 227, 245);
    width: auto;
    padding: 0;
}
footer li{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    
}

.navpe{
color: black;
}

/****** TEXTO *****/
h2{
    font-size: 48px;
}
h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/****** URL *****/
a{
    text-decoration: none;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
a:hover{
    color: aquamarine;
    text-decoration:underline;
    transition: 0,9s;
}


/****** HEADER *****/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}
header h1{
    color:#fff  
} 

#titulo strong {
   font-weight: normal;
    color: rgb(23, 176, 228);
}
li strong{
    font-weight: normal;
    color: rgb(23, 176, 228);   
}
#titulo{
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}
/****** NAVEGADOR ******/
nav ul{
    display:flex;
    flex-direction: row ;
    justify-content: space-between;
    list-style: none;
    color:aqua;
}
nav li{
    padding: 20px;
}
nav a{
    color: aliceblue;
}

#navul{ 
    width: 800px;
}
/****** BANNER ******/

#banner {
     background-image: url(/e-Miguel/imagens/surfer\ girl.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: 0 5px;
     background-attachment: fixed;
     color:rgb(249, 252, 252);
     width: 100%;
     height: 400px;
     box-sizing: border-box;    
}

/******* CONTEUDO-BANNER *******/

#banner h2{
    margin: 0 0 0 30px;
    padding: 30px 0 0 0;
    font-size: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#banner p{
    margin: 10px 0 0 40px;
    font-size: 2em;
    width: 300px;
    
}
/****** MAIN *****/
main{
    background-color: white
    
}

blockquote, main footer{
    background-color: rgb(195, 227, 245); 
}

.conteiners{
    flex-direction: row;
    display:flex;
}

.caixa{
    background-color:rgb(23, 176, 228);
    color:fff;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin: 20px 10px 10px 10px;
}

#nav li{
    margin-left: 0;
}

#nav b{
    margin-right: 0;
}

.caixa h3{
    font-size: 2em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: white;
}

.caixa p{
    margin:5px 0 5px 0 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.caixa button{
    background-color: #012E40 ;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    border: none;
    padding: 10px;
    transition-duration: 0,7s;
}

.caixa button:hover{
    background-color: #fff;
    color:mediumblue;
    cursor:pointer;
}

.caixa button:active{
    background-color: #ffffffff;
    color: #a7e6ff;
}
/****** FOOTER *****/
.pe{
    display:flex;
    flex-direction: row;
}

.pezinho figure{
    margin: 0;
    display: flex;
    flex-direction: row;
}

.pezinho img{
    margin: 0 10px 0 0;
    height: 100%;
}

.pezinho figcaption{
    width: 222px;

}

.depoimento{
    width: 300px;
    
}

.depoimento blockquote{
    padding: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(195, 227, 245);
    margin: 0 0 25px 10px;
}



.navppe strong{
    color:rgb(23, 176, 228);

}

/*    width: auto;
padding: 30px 20px ;
box model: border box; 
border: 2px solid #000;
flex-direction: row , column , invert-row  ;
justify-content: center , space-between , space-arround  
*/