*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
 
main, 
footer {
          width: 1220px;
          margin: auto;
          padding: 20px;
          box-sizing: border-box;
  }
  
.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    
}
.cabecalho-secao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(244 245 246);
    border-bottom: 4px solid rgb(216, 203, 203);
    border-color: aliceblue;
    align-items: center;
    padding: 0 48px 0 48px;
}
