*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/****** CONTEUDO ******/

/****** CORPO ******/

header,main,nav ul,#rodape-conteudo{
    width: 840px;
    margin: auto;
    list-style: none;
    padding: 20px;
}


  /****** TEXTOS ******/
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 3rem;
    margin: 10px 0 0 0;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

legend{
    list-style: none;
}

li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
em{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:orange;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

button{
    border-radius: 5px;
    font-weight: bold;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: orange;
    width: 40%;
    padding: 5px;
    margin:  0 0 17px 17px;
   transition: 2s;
}

button:hover{
    transition: 2s;
    color: orange;
    background-color: gray;
}
/****** LIGUE JÁ ******/

em{
    color: orange;
    font-weight: bolder;
    font-style: normal;
}

button:active{
    background-color: gray;
    color: white;
}
/****** LINKS ******/

a:hover{
    transition: 7ms;
    color: orange;
    text-decoration: none;
   
}


body{
    margin: 0;
}

/****** CABECALHO ******/
header{
    display:flex;
    flex-direction: row;
    padding: 0;
}

header h2{
    flex-wrap: wrap;
    padding: 25px 15px 0 0;

}

#cabecalho-texto{
    display:block;
    height: 40px;
    width: 50%;
    
}

aside{
    background-color:  #012E40 ;
    border-radius: 7px;
    padding: 0px;
    text-align: row;
    width: 5%;
    margin: 8px;   
    height: 80px;
}

aside p{
    margin: 0;
    height: 0;
    padding: 15px 0 0 0;
}

#cabecalho-texto-tel{
    display: flex;
    flex-direction: row;
    justify-content:left;
    height: 310px;
    width: 60%;
    padding-top: 3px;
    background-image: url(/e-Miguel/imagens/entregador.png);
    background-repeat: no-repeat;
    background-size: 300px;

}

#cabecalho-texto-tel img{
    height: 100%;
    margin: 0;
    padding: 0;
}

/****** NAVEGADOR ******/

nav{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #012E40;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li{
    padding: 0;
    margin: 0;
}
#Corzinha{
    background-color: orange;
    padding: 21px;
    margin: 0;
}

/****** CONTEINERS *******/

#caixinhas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixas{
    width: 240px;
    margin:0;
    border: rgb(224,219,219) solid;
    display:flex;
    flex-direction: column;
}

.caixas img{
      width: 100%;
      margin:0;
}

.caixas h3{
    color:aliceblue;
    background-color:#012E40;
    padding: 7px ;
    margin: 0;
}

.caixas p{
     margin: 15px;
     font-weight: normal;
}


/****** RODAPE ******/

footer{
    background-color: #0d2935;
    height: 100%;
}

#footcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 0;
}

footer p, legend, footer li{
    color:aliceblue;
    
}

#footleft,#footright{
    margin: 5px;
    height: 100%;
}

#footleft{
    width: 60%;
}

#footright{
    width: 40%;
}

footer img{
    width: 20px;
}

footer ul{
    padding: 10px;
    list-style: none;
}

footer button{
    width: auto;
}

form{
    height: 100%;
}

input{
    background-color: #091f29;
    color: aliceblue;
    border: none;
    padding: 5px;
    margin: 2px;
}

#mensagem{
    height: 150px;
}


#lugares{
    background-color: #091f29;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}



