div{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(/e-Miguel/imagens/Parede_De_Plantas.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-color: aqua;
}
div h1 ,h2{
    display: flex;
    justify-content: center;
}
div h1{
    padding: 3em;
    font-size: 64px;
}

div h2{

}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 0 100px 100px;
}

a{
   text-decoration: none;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: antiquewhite;
   
   
   border: solid;
   border-radius: 24px;
   height: 40px;
   width: 180px;
   color: white;
   
}
/*
nav {
    display:flex;
    flex-direction: row;
    align-content: space-around;
    gap: 0px;
    text-align: center;
    
}


*/