*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header,main,nav ul,#rodape-conteudo{
    width: 840px;
    margin: auto;
    list-style: none;
    padding: 20px;
}

#cabecalho-texto-mudancas{
    color: rgb(255, 115, 0);
    font-style: normal;
}

.cabecalho-titulo{
    padding: 30px 400px 0px 0;
    background-color: blue;
    margin: 20px 0 0px 0;
}

#cabecalho-texto{
    padding: 0 160px 50px 0;
    background-color: aqua;
    margin: 0 280px 0 0;
    font-style: normal;
}

nav{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #012E40;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
}

nav li{
    padding: 0;
    margin: 0;
    
}
#Corzinha{
    background-color: orange;
    padding: 21px;
    margin: 0;
}
a{
    color: aliceblue;
}

#caixinhas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixas{
 
    margin: 0 0 0 30px;
    width: 250px;
    border:  rgb(194, 194, 194) solid;
    display: flex;
    flex-direction: column;
}
  

.caixas img{
    width: 100%;
}

h3 strong{
    margin: 0;
    padding: 5px 45px 0px 0 ;
    box-sizing: border-box;
    background-color: #012E40;
    color: aliceblue;
}
.caixas p{
    padding: 14px ;
}

.caixas button{
    border-radius: 15px;
    width: 40%;
    background-color: orange;
    border: none;
    margin: 12px;
    color: aliceblue;
}

footer{
    background-color: #012E40;
    height: 100%;
    width: 100%;
}

footer button{
    width: auto;
}

footer ul{
     list-style:none;

}

form{
    height: 100%;
    
}
#msg{
    height: 170px;
}
input{
    background-color: #091f29;
    color: aliceblue;
    border: none;
    padding: 8px;
    margin:  7px;
}
#Cidades{
    background-color: #091f29;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

#conteudo-do-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 0;

}
footer p, legend, footer li{
    color:aliceblue;
    
}


#esquerda,#Direita{
    margin: 5px;
    height: 100%;
}

#esquerda{
    width: 60%;
}

#Direita{
    width: 40%;
}
form button{
    border-radius: 10px;
    width: 54%;
    background-color: orange;
    border: none;
    margin: 12px;
    color: aliceblue;
}
