
body{
    background-color :  rgb(2, 27, 38);
    font-family: Arial, Helvetica, sans-serif;
}
header, 
main, 
footer {
    width: 1100px;
    margin: auto;

}
/****** HEADER *****/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}
header h1{
    color:#fff  
} 

#titulo strong {
   font-weight: normal;
    color: rgb(23, 176, 228);
}

#titulo{
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}

#navul{ 
    width: 800px;
}

#banner {
     background-image:url(01-3.webp) ;
     background-repeat: no-repeat;
     
}


/****** MAIN *****/
main{
    background-color: white
    
}

blockquote, main footer{
    background-color: rgb(195, 227, 245); 
}

nav ul{
    display:flex;
    flex-direction: row ;
    justify-content: space-between;
    list-style: none;
}
nav li{
    padding: 20px;
}
nav a{
    color: aliceblue;
}

/****** FOOTER *****/


/*    width: auto;
padding: 30px 20px ;
box model: border box; 
border: 2px solid #000;
flex-direction: row , column , invert-row  ;
justify-content: center , space-between , space-arround  
*/
