body{
    background-color : rgb (2, 22, 37) 
}
main{
    background-color: rgb(135, 43, 245)
}
blockquote, main footer{
    background-color: rgb (195 ,227, 245); 
}
header{
    display: flex;
} 
nav ul{
    display:flex;
    flex-direction: row ;
    list-style: none;
}
nav li{
    padding: 20px;
}
nav a{
    color: aliceblue;

}