@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;500;600;700 & display=swap');
*{
    padding: 0%;
    margin: 0;
    list-style: none;
    font-family:"Inter";
    text-decoration: none;
}
.papel-de-parede{
    background: url(/e-Miguel/imagens/bandeira-argentina.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    max-width: 100%;
}

.logo img{
    width: 30px;
    height: auto;
}

nav{
    display: flex;
    gap: 30px;
    font-size: 15px;
}

nav a{
    color:#fff;
    font-weight: 500;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    align-items: center;
    text-align: center;
    gap: 10rem;
}
.papel-meio-cultura h1{
    font-size: 68px;
    color: white;
} 

.papel-meio-cultura p{
    color: white;
    font-weight: 500;
    font-size: 17px;
    margin-top: 1rem;
    line-height: 25px;
}

.papel-meio{
    margin-left: 14%;
    margin-top: 12%;
    max-width: 100%;
}

.btn{
    background-color: blue;
    padding: 10px;
    color: wheat;
    border: none;
    border-radius: 5px;
    margin-top: 3rem;
    cursor:pointer;
}