 @import url('https://fonts.googleapis.com/css2?family= Caladea & display = swap');
 *{
    padding: 0;
    margin: 0;
 }

 body{
   font-family: 'Caladea','serif';
 }
 .papel-de-parede{
   width: 100%;
   height: 100vh;
   background-image: url(/e-Miguel/imagens/taca.png);
   background-size: cover;
}
.nav{
   width: 1100px;
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

.nav .logo{
   font-size: 50px;
   font-weight: 600;
   text-transform: uppercase;
   color:white;
   letter-spacing: 5px;
}
.nav .menu{
   width: 45%;
}
.nav .menu ul{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav .menu ul li{
   list-style: none;
}
.nav .menu ul li a{
   text-transform:uppercase;
   font-size: 15px;
   font-weight: 600;
   letter-spacing: 1.5px;
   color: white;
   text-decoration: none;
}
.nav .menu .Ativo a{
   color: #2962ff;
}
.papel-clipe{
   position: absolute;
   width: 100%;
   height: 100%;
   clip-path: polygon(0 0,30% 0, 50% 100%, 0 100%);
   right: 6% ;
   z-index: 2;
   background-image: url(/e-Miguel/imagens/brasao-fut-argentina.png);
   background-repeat: no-repeat;
   background-size:contain;
   background-color: #2962ff;
}
.Lionel-Messi{
   position: absolute;
   width: 700px;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3;
}
.Lionel-Messi img{
      width: 100%;
}
.papel-de-parede-texto{
   width: 40%;
   position: absolute;
   top: 35%;
   left: 65%;
   text-transform: uppercase;
   font-size: 20px;
   color: white;
   transform: translateY(-50%);
}
.papel-de-parede-texto button a{
   width: 170px;
   height: 40px;
   background-color: #2962ff;
   color: rgb(0, 0, 0);
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   border-radius: 10px;
   border:none;
   font-family: 'Caladea','serif';
   top: 12%;
   
}